@font-face {
  font-family: 'AsapRegular';
  src: url('../fonts/AsapRegular.eot');
  src: url('../fonts/AsapRegular.eot') format('embedded-opentype'),
  url('../fonts/AsapRegular.woff2') format('woff2'),
  url('../fonts/AsapRegular.woff') format('woff'),
  url('../fonts/AsapRegular.ttf') format('truetype'),
  url('../fonts/AsapRegular.svg#AsapRegular') format('svg');
}
@font-face {
  font-family: 'AsapMedium';
  src: url('../fonts/AsapMedium.eot');
  src: url('../fonts/AsapMedium.eot') format('embedded-opentype'),
  url('../fonts/AsapMedium.woff2') format('woff2'),
  url('../fonts/AsapMedium.woff') format('woff'),
  url('../fonts/AsapMedium.ttf') format('truetype'),
  url('../fonts/AsapMedium.svg#AsapMedium') format('svg');
}
@font-face {
  font-family: 'AsapBold';
  src: url('../fonts/AsapBold.eot');
  src: url('../fonts/AsapBold.eot') format('embedded-opentype'),
  url('../fonts/AsapBold.woff2') format('woff2'),
  url('../fonts/AsapBold.woff') format('woff'),
  url('../fonts/AsapBold.ttf') format('truetype'),
  url('../fonts/AsapBold.svg#AsapBold') format('svg');
}
@font-face {
  font-family: 'AsapItalic';
  src: url('../fonts/AsapItalic.eot');
  src: url('../fonts/AsapItalic.eot') format('embedded-opentype'),
  url('../fonts/AsapItalic.woff2') format('woff2'),
  url('../fonts/AsapItalic.woff') format('woff'),
  url('../fonts/AsapItalic.ttf') format('truetype'),
  url('../fonts/AsapItalic.svg#AsapItalic') format('svg');
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/MontserratRegular.eot');
  src: url('../fonts/MontserratRegular.eot') format('embedded-opentype'),
  url('../fonts/MontserratRegular.woff2') format('woff2'),
  url('../fonts/MontserratRegular.woff') format('woff'),
  url('../fonts/MontserratRegular.ttf') format('truetype'),
  url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}



@mixin max-screen($res){
  @media screen and (max-width: $res) {
    @content;
  }
}

.container{
  max-width: 1200px;
  width: 100%;
}

header {
  background: url("../images/header_bg.png") repeat;
  position: relative;
  .navbar-default {
    border: none;
    background: none;
    box-shadow: none;
    .navbar-collapse{
      margin: auto;
      border: transparent;
    }
    .navbar-toggle{
      float: left;
      padding: 0;
      margin-left: 35px;
      border-radius: 13px;
      height: 26px;
      width: 26px;
      border: solid 1px black;
      opacity: 0.5;
      margin-top: 16px;
      &:focus{
        background-color: #98999d;
      }
    }
  }
  .container{
    .logo {
      margin-top: 15px;
      @include max-screen(767px){
        position: absolute;
        right: 0;
        top: -14px;
      }
      outline: none
    }
    .navbar-nav {
      li{
        &:first-child {
          margin-right: 38px;
        }
        &:nth-child(2) {
          margin-right: 37px;
        }
        &:nth-child(3) {
          margin-right: 40px;
        }
        &:nth-child(4) {
          margin-right: 40px;
        }
        a {
          font: 16px 'AsapRegular';
          color: #4d4d4d;
          text-transform: uppercase;
          padding: 0 0 5px 0;
          margin-top: 30px;
          border-bottom: solid 2px transparent;
          &:hover{
            border-bottom: solid 2px #878787;
          }
        }
      }
    }
    .navbar-header{
      i{
        line-height: 10px;
        width: 15px;
        height: 15px;
      }
    }
  }
  .row{
    h1{
      font: 90px 'AsapMedium';
      color: #4d4d4d;
      line-height: 70px;
      margin-top: 180px;
      margin-bottom: 15px;
      @include max-screen(992px){
        font-size: 60px;
        margin-top: 60px;
      }
      @include max-screen(767px){
        font-size: 50px;
        margin-bottom: 5px;
        text-align: center;
        margin-top: 10px;
      }
    }
    p{
      font: 22px 'AsapMedium';
      color: #4d4d4d;
      opacity: 0.5;
      margin-left: 5px;
      @include max-screen(767px){
        font-size: 18px;
        text-align: center;
      }
    }
    nav{
      @include max-screen(767px){
        text-align: center;
      }
      a{
      display: inline-block;
      font: 16px/48px 'AsapMedium';
      text-align: center;
      color: #4d4d4d;
      margin-left: 5px;
      text-decoration: none;
      text-transform: uppercase;
      border: solid 1px;
      width: 160px;
      height: 50px;
      margin-top: 20px;
      transition: 0.3s;
      @include max-screen(768px){
        width: 100px;
        height: 35px;
        line-height: 33px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      &:last-child{
        margin-left: 20px;
        @include max-screen(767px){
          margin-left: 5px;
        }
      }
      &:hover{
        box-shadow: 0 10px 20px 0 #ababab;
        transition: 0.3s;
        border: solid 1px transparent;
        background-color: #fff;
      }
    }
    }
    img{
      margin-top: 25px;
      float: right;
      @include max-screen(1169px){
        height: 500px;
      }
      @include max-screen(992px){
        height: 400px;
      }
      @include max-screen(768px){
        float: none;
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }
  }
}











.section_1{
  margin-top: 109px;
  margin-bottom: 125px;
  @include max-screen(992px){
    margin-top: 20px;
    margin-bottom: 30px;
  }
  @include max-screen(767px){
    margin-bottom: 40px;
  }
  .container{
    padding-left: -15px;padding-right: -15px;
    .row{
      img{
        width: 100%;
        height: 100%;
        @include max-screen(992px){
          width: 100%;
          height: 100%;
          margin-top: 20px;
        }
        @include max-screen(767px){
          margin-top: 0;
        }
      }
      .col-md-11{
        margin-left: -15px;
        margin-bottom: 20px;
        margin-top: 50px;
        @include max-screen(992px){
          margin-top: 0;
        }
        h2{
          font: 46px/49px 'AsapBold';
          text-transform: uppercase;
          letter-spacing: 6px;
          color: #7c7c7c;
          margin-bottom: 0;
          @include max-screen(992px){
            font-size: 40px;
          }
          @include max-screen(767px){
            text-align: center;
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 12px;
          }
          &:before{
            content: "";
            display: block;
            border-top: solid 4px;
            width: 60px;
            color: #7a7a7a;
            clear: both;
            margin-bottom: 10px;
            @include max-screen(767px){
              width: 100px;
              margin: 0 auto 10px;
            }
            }
        }
        p{
          font: 16px 'AsapRegular';
          line-height: 26px;
          @include max-screen(767px){
            width: 80%;
            margin-left: 8%;
            text-align: justify;
            margin-bottom: 10px;
          }
        }
        nav{
          margin-top: 33px;
          @include max-screen(767px){
            text-align: center;
            margin-top: 10px;
          }
          @include max-screen(992px){
            margin-top: 1px;
          }

           a{
             display: inline-block;
             font: 16px/48px 'AsapMedium';
             text-align: center;
             letter-spacing: 1px;
             color: #4d4d4d;
             text-decoration: none;
             text-transform: uppercase;
             border: solid 1px;
             width: 245px;
             height: 50px;
             transition: 0.3s;
             &:hover{
               box-shadow: 0 10px 20px 0 #ababab;
               transition: 0.3s;
               border: solid 1px transparent;
               background-color: #fff;
             }
             @include max-screen(992px){
               width: 160px;
               height: 35px;
               line-height: 33px;
               font-size: 12px;
               margin-top: 5px;
               margin-bottom: 15px;
             }
           }
         }
      }
    }
  }
}












.section_2{
  background-color: #f6f6f6;
  .container{
    .row{
      .col-md-12{
        h2{
          font: 46px/49px 'AsapBold';
          text-transform: uppercase;
          letter-spacing: 6px;
          color: #7c7c7c;
          margin-top: 120px;
          margin-bottom: 60px;
          &:before{
            content: "";
            display: block;
            border-top: solid 4px;
            width: 60px;
            color: #7a7a7a;
            clear: both;
            margin: auto auto 10px;
            @include max-screen(767px){
              width: 100px;
              margin: 0 auto 10px;
            }
          }
          @include max-screen(992px){
            font-size: 40px;
            margin-top: 30px;
          }
          @include max-screen(767px){
            text-align: center;
            font-size: 35px;
            line-height: 35px;
            margin-bottom: 25px;
          }
        }
      }
      .service_icon{
        min-height: 140px;
        margin-bottom: 60px;
        @include max-screen(767px){
          margin:0;
        }
        a{
          text-decoration: none;
          text-align: center;
          img{
            margin: 0 auto;
            text-align: center;

          }
          p{
            font: 24px 'AsapMedium';
            color: #4d4d4d;
            margin-top: 10px;
            transition: 0.3s;
            &:hover{
              color: black;
            }
            @include max-screen(767px){
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}












.section_3{
  margin-bottom: 125px;
  @include max-screen(992px){
    margin-bottom: 30px;
  }
  @include max-screen(767px){
    margin-bottom: 40px;
  }
  .container{
    .row{
      h2{
        font: 46px/49px 'AsapBold';
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #7c7c7c;
        margin-top: 120px;
        margin-bottom: 50px;
        &:before{
          content: "";
          display: block;
          border-top: solid 4px;
          width: 60px;
          color: #7a7a7a;
          clear: both;
          margin: auto auto 10px;
          @include max-screen(767px){
            width: 100px;
            margin: 0 auto 10px;
          }
        }
        @include max-screen(992px){
          font-size: 40px;
          margin-top: 30px;
        }
        @include max-screen(767px){
          text-align: center;
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 30px;
        }
      }
      img{
        width: 85%;
        @include max-screen(767px){
          width: 100%;
        }
      }
    }
  }
}











.section_4{
  background-color: #f6f6f6;
  .container{
    .row{
      h2{
        font: 46px/49px 'AsapBold';
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #7c7c7c;
        margin-top: 120px;
        margin-bottom: 50px;
        &:before{
          content: "";
          display: block;
          border-top: solid 4px;
          width: 60px;
          color: #7a7a7a;
          clear: both;
          margin: auto auto 10px;
          @include max-screen(767px){
            width: 100px;
            margin: 0 auto 10px;
          }
        }
        @include max-screen(992px){
          font-size: 40px;
          margin-top: 30px;
        }
        @include max-screen(767px){
          text-align: center;
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 30px;
        }
      }
      .link_img{
        a{
          img{
            width: 100%;
            margin-bottom: 30px;
            transition: 0.4s;
            &:hover{
              -webkit-box-shadow: 0 0 10px 10px #8C8C8C;
              box-shadow: 0 0 70px 5px #8C8C8C;
              transition: 0.4s;
            }
            @include max-screen(992px){
              width: 90%;
            }
            @include max-screen(767px){
              width: 80%;
            }
          }
        }
      }
      .port_btn{
        a{
          display: inline-block;
          font: 16px/48px 'AsapMedium';
          text-align: center;
          letter-spacing: 1px;
          color: #4d4d4d;
          text-decoration: none;
          text-transform: uppercase;
          border: solid 1px;
          width: 190px;
          height: 50px;
          transition: 0.3s;
          margin-bottom: 120px;
          &:hover{
            box-shadow: 0 10px 20px 0 #ababab;
            transition: 0.3s;
            border: solid 1px transparent;
            background-color: #fff;
          }
          @include max-screen(992px){
            width: 120px;
            height: 35px;
            line-height: 33px;
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}






.section_5{
  .container{
    .row{
      .owl-carousel{
        display: block;
        margin: 0 auto;
        width: 95%;
        .owl-dots{
          text-align: center;
          .owl-dot{
            display: inline-block;
            span{
              border: solid 1px;
              height: 11px;
              width: 11px;
              margin: 0 4px 33px 0;
              display: block;
              padding: 0;
            }
            &.active span{
              background-color: #212121;
            }
            &:hover span{
              background-color: #6d6e71;
            }
          }
        }
      }
      h2{
        font: 46px/49px 'AsapBold';
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #7c7c7c;
        margin-top: 120px;
        margin-bottom: 50px;
        &:before{
          content: "";
          display: block;
          border-top: solid 4px;
          width: 60px;
          color: #7a7a7a;
          clear: both;
          margin: auto auto 10px;
          @include max-screen(767px){
            width: 100px;
            margin: 0 auto 10px;
          }
        }
        @include max-screen(992px){
          font-size: 40px;
          margin-top: 30px;
        }
        @include max-screen(767px){
          text-align: center;
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 30px;
        }
      }
      .carousel{
        border: solid 1px;
        width: 82%;
        margin: 0 auto 120px;
        @include max-screen(767px){
          width: 100%;
          margin-bottom: 40px;
        }
        .carousel_img{
          a{
            img{
              float: right;
              max-width: 160px;
              width: 100%;
              margin-top: 80px;
              margin-bottom: 105px;
              transition: 0.3s;
              @include max-screen(992px){
                margin-bottom: 50px;
              }

              @include max-screen(767px){
                max-width: 230px;
                width: 100%;
                border-radius: 30px;
                float: none;
                display: block;
                margin: 20px auto 0;
              }
              &:hover{
                box-shadow: 0 0 20px 5px #5C5C5C;
                transition: 0.3s;
              }
            }
          }
        }
        .carousel_description{
          margin-top: 65px;
          max-width: 60%;
          @include max-screen(992px){
            margin-top: 30px;
            //max-width: 100%;
          }
          @include max-screen(767px){
            float: none;
            display: block;
            margin: auto;
            text-align: center;
            max-width: 100%;
          }
          h3{
            font: 30px 'AsapMedium';
            color: #212121;
            text-transform: uppercase;
            margin-bottom: 0;
          }
          span{
            font: 12px 'AsapItalic';
            color: #212121;
          }
          p{
            font: 16px 'AsapRegular';
            color: #212121;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 0;
            @include max-screen(992px){
              margin-top: 0;
            }
            @include max-screen(767px){
              width: 100%;
              text-align: justify;
              text-transform: none;
              margin-bottom: 30px;
            }
          }
        }
       }
    }
  }
}








.section_6{
  background-color: #f6f6f6;
  .container{
    .row{
      margin-top: 50px;
      margin-bottom: 60px;
      a{
        text-decoration: none;

        h4{
          font: 30px 'AsapMedium';
          color: #212121;
          margin-top: 20px;
          margin-bottom: 5px;
          @include max-screen(767px){
            font-size: 20px;
          }
        }
        p{
          font: 22px 'AsapRegular';
          color: #212121;
          text-transform: uppercase;
          margin-bottom: 0;
          @include max-screen(767px){
            font-size: 15px;
          }
        }
      }
    }
  }
}




.clear_area{
  height: 155px;
  background-color: transparent;
  @include max-screen(767px){
    height: 30px;
  }
}






footer{
  background-color: #646465;
  .foot_bg{
    max-width: 2000px;
    width: 100%;
    background: url("../images/footer_bg_lg.png") no-repeat center;
    background-size: cover;
    margin: auto;
    @include max-screen(992px){
      width: 100%;
    }
  }
  .container{
    .row{
      margin: 0;
      h2{
        font: 46px/49px 'AsapBold';
        text-transform: uppercase;
        letter-spacing: 6px;
        color: #f3f3f3;
        margin-top: 120px;
        margin-bottom: 10px;
        &:before{
          content: "";
          display: block;
          border-top: solid 4px;
          width: 60px;
          color: #c1c1c1;
          clear: both;
          margin: auto auto 10px;
          @include max-screen(767px){
            width: 100px;
            margin: 0 auto 10px;
          }
        }
        @include max-screen(992px){
          font-size: 40px;
          margin-top: 40px;
        }
        @include max-screen(767px){
          text-align: center;
          font-size: 35px;
          line-height: 35px;
          margin-bottom: 10px;
        }
      }
    }
    .form_area{
      border-bottom: solid 1px white;
      .row{
        margin-bottom: 58px;
        @include max-screen(767px){
          margin-bottom: 30px;
        }
      }
      .top-input{
        @include max-screen(767px){
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }
      input{
        width: 100%;
        height: 57px;
        font: 16px 'AsapRegular';
        letter-spacing: 1px;
        background-color: #ffffff;
        color: #212121;
        margin-top: 30px;
        padding-left: 10px;
        box-sizing: border-box;
        border: none;
        outline:none;
        @include max-screen(767px){
          height: 40px;
          margin-top: 10px;
        }
      }
      textarea{
        width: 100%;
        height: 207px;
        font: 16px/67px 'AsapRegular';
        letter-spacing: 1px;
        background-color: #fff;
        color: #212121;
        margin-top: 30px;
        padding-left: 10px;
        box-sizing: border-box;
        border: none;
        outline:none;
        resize: none;
        @include max-screen(767px){
          margin-top: 10px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
      button{
        box-sizing: border-box;
        background-color: #fff;
        font: 16px 'AsapMedium';
        letter-spacing: 3px;
        color: #212121;
        text-transform: uppercase;
        margin-top: 25px;
        width: 123px;
        height: 50px;
        border: none;
        outline: none;
        transition: 0.5s;
        @include max-screen(767px){
          font-size: 12px;
          width: 100px;
          height: 35px;
          margin-top: 10px;
        }
        &:hover{
          box-shadow: 0 10px 50px 10px #393a3a;
          transition: 0.5s;
        }
        span{
          &:after{
            content: url("../images/button_arrow.png");
            padding-left: 5px;
            @include max-screen(767px){
              display: none;
            }
          }
        }
      }
    }
    .bottom_foot{
      margin: 25px 0 20px;
      .foot_icon{
        padding: 0;
        @include max-screen(767px){
          text-align: center;
        }
        ul{
          list-style: none;
          padding: 0;
          li{
            display: inline-block;
            margin-right: 5px;
            &:hover:first-child i{
              background-color: #4267b2;
              color: white;
              transform: rotate( 360deg);
              transition: 0.3s;
            }
            &:hover:nth-child(2) i{
              background-color: #0084b4;
              color: white;
              transform: rotate( 360deg);
              transition: 0.3s;
            }
            &:hover:nth-child(3) i{
              background-color: #0274b3;
              color: white;
              transform: rotate( 360deg);
              transition: 0.3s;
            }
            &:hover:nth-child(4) i{
              background-color: #ce3525;
              color: white;
              transform: rotate( 360deg);
              transition: 0.3s;
            }
            &:hover:nth-child(5) i{
              background-color: #001431;
              color: #5ba2f7;
              transition: 0.3s;
              transform: rotate( 360deg);
              border: solid 2px #5ba2f7;
            }
            &:hover:nth-child(6) i{
              background-color: #e34a86;
              color: white;
              transform: rotate( 360deg);
              transition: 0.3s;
            }
            a{
              text-decoration: none;
              background-color: transparent;
              padding: 7px 0 4px;
              line-height: 27px;
              border-radius: 5px;
              i{
                color: #4d4d4d;
                background-color: white;
                width: 27px;
                height: 27px;
                text-align: center;
                font-size: 17px;
                line-height: 23px;
                transition: 1s;
                padding-bottom: 2px;
                border: solid 2px transparent;
                @include max-screen(767px){
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
      p{
        font: 16px 'MontserratRegular';
        color: white;
        @include max-screen(767px){
          font-size: 10px;
        }
      }
    }
  }
}

